body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.7;
    font-weight: 400;
}
.Loader {
    text-align: center;
    
    &--link {
        color: $color-primary-yellow;
        
        &:hover,
        &:focus {
            color: $color-white;
        }
    }
}
