// COLORS
$color-primary-green:#43AC95;
$color-primary-yellow: #DAC468;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-green-dark:#47682C;

$color-grey-dark: #707070;
$color-grey-dark-2: #cccccc;

$color-orange:#F08D43;
$color-red:#E60E14;
$color-marron:#AB3428;
$color-pink:#EF3054;

$color-white: #fff;
$color-black: #000;

//gradient
$linear-gradient:linear-gradient(to right, $color-primary-green,$color-primary-yellow);

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

